.allPagesBlog h1,
.allPagesBlog p {
  color: #000;
}

.leftPageBlogText > h1,
.leftPageBlogText > p {
  margin-right: 40px;
}

.rightPageBlogText > h1,
.rightPageBlogText > p {
  margin-left: 40px;
}

.allPagesBlog > h1 {
  font-size: 70px;
}
.allPagesBlog > p {
  font-family: roboto;
  font-size: 20px;
}

#blogPage {
  padding: 28vh 10vw 0vh 10vw;
  font-family: gilroy;
}

.allPagesBlogCon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 10vh;
  height: 500px;
}

.blogImg {
  transition: all 0.3s ease-in-out;
}

.blogImg:hover {
  transform: scale(1.01);
  padding-bottom: 15px;
}

#blogFooter {
  width: 100vw;
  height: 30vh;
  background-color: #000;
}
