/* Footer */
#footer {
  background-color: black;
  color: #fff;
  padding: 50px 0 0 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 40vh;
  width: 100vw;
  background-color: black;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer-section p {
  font-size: 1rem;
  line-height: 1.5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section.social ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-bottom {
  background-color: #222;
  height: 5%;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 0.8rem;
  margin: 0;
}
