@media screen and (max-width: 850px) {
  #product-section-home {
    grid-template-columns: 400px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #heroTitle {
    font-size: 40px;
    width: 80vw;
  }
  #product-section-home {
    grid-template-columns: 400px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #heroTitle {
    font-size: 50px;
    width: 80vw;
  }
  #product-section-home {
    grid-template-columns: 400px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #heroTitle {
    font-size: 120px;
    width: 80vw;
  }
  #heroPage {
    flex-direction: row;
    height: 50vh;
  }
}

@media screen and (min-width: 800px) {
  #product-section-home {
    grid-template-columns: 400px 400px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #heroPage {
    height: 80vh;
  }
  #heroTitle {
    font-size: 60px;
    height: 60vh;
    padding-right: 0vw;
  }
  .heroTxt-3 {
    font-size: 20px;
    padding-top: 23px;
  }
  .heroImageCon {
    display: inline-block;
    width: 65vw;
    overflow: hidden;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #heroTitle {
    font-size: 70px;
    width: 35vw;
  }
  #heroTitle {
    padding-right: 4vw;
  }
  .heroImageCon {
    width: 675px;
  }
  #navTabs {
    display: flex;
    margin-right: 5%;
    justify-content: space-between;
    align-items: center;
    width: 47vw;
  }
  .textNavTabs {
    display: inline-block;
  }
  #navBar i {
    display: none;
  }
  #vertical-nav-bg {
    display: none !important;
  }

  #profile-con {
    width: 20vw;
    height: 100vh;
  }
  #profile-sec {
    height: 60%;
    margin-top: 40%;
  }
  #cart-bg {
    height: 100vh;
    width: 40vw;
  }
  #product-buy-con {
    height: 600px;
    width: 1000px;
  }
}

@media (max-width: 1090px) {
  #shoes-size {
    grid-template-columns: 110px 110px;
    justify-content: start;
  }
  #product-buy-right {
    overflow-y: scroll;
    height: auto;
  }
  #shoe-details-buy {
    flex-direction: column;
    align-items: start;
    margin-bottom: 25px;
    padding-left: 0;
  }
  #buy-btn-con {
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
  }
  #buy-btn-con button {
    width: 240px;
  }
}

@media (max-width: 900px) {
  #shoes-size {
    grid-template-columns: 110px;
    justify-content: center;
  }
  #buy-btn-con button {
    width: 140px;
  }
  #product-name-buy {
    font-size: xx-large;
  }

  #product-category-buy {
    font-size: larger;
    height: auto;
  }

  #shoe-details-buy {
    height: auto;
  }

  #product-buy-right {
    padding: 10px;
  }
  #buy-btn-con {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 560px) {
  #product-buy-con {
    flex-direction: column !important;
    overflow-y: scroll !important;
  }
}

@media screen and (max-width: 1350px) {
  #navTabs a {
    font-size: 15px;
    padding: 10px 10px;
  }
  #heroTitle {
    padding-right: 0vw;
  }
  #heroTitle {
    font-size: 60px;
  }
}

@media screen and (min-width: 1250px) {
  #product-section-home {
    grid-template-columns: 400px 400px 400px;
  }
}

@media only screen and (min-width: 1700px) {
  #heroTitle {
    font-size: 100px;
    width: 50vw;
  }
}
