/* Navigation bar */

#navBar {
  background-color: #000;
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0px 50px; */
  z-index: 10;
  position: fixed;
  font-family: gilroy;
}

#heroPage {
  height: 80vh;
  width: 100vw;
  padding-top: 20vh;
  font-family: gilroy;
}

#navTabs {
  margin-right: 5%;
  justify-content: space-between;
  align-items: center;
  width: 47vw;
  display: none;
}

#navTabs a {
  display: inline-block;
  font-size: 18px;
  padding: 10px 20px;
}

.textNavTabs {
  text-decoration: none;
  color: #bebebe;
  border-radius: 50px;
  transition: all 0.4s ease;
}

.textNavTabs:hover {
  transform: scale(1.1);
  background-color: rgb(79, 79, 79);
  color: #ffffff;
}

.active {
  background-color: #fff;
  color: #000;
}

.textNavTabs:active {
  transform: scale(1);
  color: #000;
  background-color: #c7c7c7;
}

#navLogo {
  color: #fff;
  margin-left: 5%;
  font-size: 30px;
  font-family: wedding;
}

#user-id,
#user-id-open {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  padding: 1px;
}

#user-id {
  height: 30px;
  width: 30px;
  padding: 10px;
  border: 50px;
}

#user-id-open {
  position: absolute;
  top: 60px;
  left: 40px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

#user-id-open:hover {
  background-color: #cbcaca;
}

#user-id-open:active {
  transform: scale(0.9);
}

#cart {
  height: 25px;
  padding: 10px;
  border-radius: 50px;
  margin-left: 1vw;
}

#profile-con {
  width: 20vw;
  height: 100vh;
  background-color: #dcdcdc;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  animation: sidebarIn 0.4s alternate;
}

@keyframes sidebarIn {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

#profile-sec {
  height: 60%;
  margin-top: 40%;
}

.active-profile {
  display: none;
}

#profile-pic-con {
  margin-top: 200px;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-pic {
  height: 250px;
  width: 250px;
  background-color: black;
  border-radius: 50%;
}

#profile-details {
  height: auto;
  width: 90%;
  margin: 50px 0px 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-username {
  font-family: gilroy;
  color: #000;
}

#profile-email-add {
  font-family: roboto;
  color: #5a5a5a;
}

#log-out {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#log-out-btn {
  background-color: #fff;
  border-radius: 50px;
  outline: 0;
  border: 0;
  color: #000;
  height: 50px;
  width: 100px;
  font-family: roboto;
  font-size: medium;
  transition: all 0.3s ease-in-out;
}

#log-out-btn:hover {
  transform: scale(1.1);
}

#log-out-btn:active {
  transform: scale(1);
}

#cart-bg {
  display: none;
  height: 100vh;
  width: 40vw;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 25;
  animation: sidebarIn 0.3s alternate;
}

#cart-head {
  margin-top: 6%;
  height: 10%;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: 1;
}

#cart-body {
  height: 70vh;
  width: 100%;
  margin-top: 16%;
  overflow: auto;
}

#cart-footer {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

#cart-total-amount {
  color: #000;
  font-family: roboto;
  font-size: large;
  width: 150px;
}

#cart-buy-now {
  background-color: black;
  border-radius: 50px;
  height: 50px;
  width: 250px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto;
  font-size: larger;
}

#cart-title {
  margin-left: 20px;
  color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  padding-bottom: 5px;
}

#back-from-cart {
  border-radius: 50px;
  height: 22px;
  padding: 10px;
  margin-left: 6%;
  transition: all 0.3s ease-in-out;
}

#back-from-cart:hover {
  background-color: #cecece;
}

.cart-product-size {
  color: #000;
  font-family: roboto;
  padding-bottom: 5px;
}

.cart-product-box {
  margin: 10px 20px;
  display: flex;
  border: 2px solid white;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.cart-product-box:hover {
  border: 2px solid rgb(137, 137, 137);
}

.cart-productDetails {
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  font-family: roboto;
  flex-direction: column;
}

.cart-product-name {
  color: #000;
}

.cart-product-category {
  color: rgb(106, 106, 106);
}
.cart-product-price {
  color: #000;
}

.remove-cart {
  position: absolute; 
  top: 40px;
  right: 40px;
  padding: 10px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.remove-cart:hover {
  background-color: rgb(200, 200, 200);
}

#cart-btn {
  cursor: pointer;
}

.active-cart {
  display: inline-block !important;
}